In [149]:
import pandas as pd

db = pd.read_csv('../Data/mobils.csv')
num_rows, num_columns = db.shape
print(f"Nombre de files: {num_rows}")
print(f"Nombre de columnes: {num_columns}")
print("Nombre de valors nuls per columna:")
print(db.isnull().sum())

Nombre de files: 1874
Nombre de columnes: 24
Nombre de valors nuls per columna:
URL                           3
Asin                         41
Precio                       82
Precio Inicial               82
Título                        1
Estrellas                   105
Opiniones                   106
Marca                        62
Modelo                      127
Año del modelo             1123
Dimensiones                 348
RAM                         746
Memoria                     263
Sistema operativo           916
Resolución pantalla         682
Tamaño pantalla            1678
Relación aspecto           1441
Peso                        143
Tecnología conectividad     538
Batería                    1855
Cámara principal           1800
Cámara frontal             1800
Procesador                 1349
Color                      1116
dtype: int64

In [150]:
import numpy as np
db.loc[db['Opiniones'] < 10, 'Estrellas'] = np.nan

In [151]:
db = db.drop(columns=["URL", "Asin", "Título", "Opiniones", "Sistema operativo", "Resolución pantalla", "Tecnología conectividad", "Batería", "Color", "Procesador", "Cámara frontal", "Cámara principal", "Relación aspecto", "Tamaño pantalla", "Año del modelo"])

In [152]:
columnas_moda = ["RAM", "Memoria", "Dimensiones"]

for columna in columnas_moda:
    moda = db[columna].mode()[0]
    db[columna] = db[columna].fillna(moda)
    print(f"La moda de {columna} és {moda}")

La moda de RAM és 8 GB
La moda de Memoria és 128 GB
La moda de Dimensiones és 50 x 50 x 28

In [153]:
db = db.dropna(subset=["Precio", "Precio Inicial"])

In [154]:
columnas_mean = ["Estrellas", "Peso"]

for columna in columnas_mean:
    mean = db[columna].mean()
    db[columna] = db[columna].fillna(mean)
    print(f"La mean de {columna} és {mean}")

La mean de Estrellas és 4.132142857142857
La mean de Peso és 277.87590361445785

In [155]:
db = db.drop(columns=[])

In [156]:
num_rows, num_columns = db.shape
print(f"Nombre de files: {num_rows}")
print(f"Nombre de columnes: {num_columns}")
print("Nombre de valors nuls per columna:")
print(db.isnull().sum())

Nombre de files: 1792
Nombre de columnes: 9
Nombre de valors nuls per columna:
Precio              0
Precio Inicial      0
Estrellas           0
Marca              59
Modelo            118
Dimensiones         0
RAM                 0
Memoria             0
Peso                0
dtype: int64

In [157]:
db['Marca'].nunique()

177

In [158]:
db['Marca'].unique()

array(['realme', 'xiaomi', 'samsung', 'no', 'ulefone', 'aplimln',
       'apple computer', 'microsoft', 'apple', 'hotwav', 'sony', 'cubot',
       'msmga', 'generico', nan, '8849', 'xgody', 'oukitel',
       'mcr infoelectronic,sl', 'ttfone', 'mcmgc', 'oscal', 'sewowibo',
       'vivo', 'nothing', 'annadue', 'mcr infoelectronic', 'doogee',
       'asus', 'sí', 'motorola', 'rainbuvvy', 'valmoni sport', 'honor',
       'umidigi', 'blackview', 'merch por amazon', 'tech data',
       'panasonic', 'mptech', 'osa', 'polarpro', 'wrtogo', 'zte', 'moft',
       'mlk03ql/a-cr', 'alcatel', 'oppo', 'hmd global oy', 'rvelon',
       'pthtechus', 'spc', 'nubia', 'toneof', 'high-tech place',
       'beghelli', 'unihertz', 'zunate', 'gamesir', 'vikye', 'gowenic',
       'jtqtj', 'zte corporation', 'hipipooo', 'qrzrq', 'maxcom',
       'vbestlife', 'mvvkky', 'fossibot', 'jetech', 'tcl', 'telefunken',
       'mq9x3zd/a', 'zokoe', 'shanwan', 'ati', 'adoc', 'mtgud',
       'sxhlseller', 'jcb phone', 'dorland', 'poco', 'bezosmax i',
       'nokia', 'huawei', 'google', 'bewinner', 'doro', 'haissky',
       'tbest', 'pb6l0002se', 'sky royal trading ltd',
       'head case designs', 'neoman', 'oakcastle', 'fine life pro',
       'yiokii', 'thuraya', 'joyzap', 'inmarsat', 'jinpojun', 'fujifilm',
       'hammer h', 'jnerbuyi', 'dpofirs', 'fkqq2ql/a', 'cmf by northing',
       'airshi', 'oneplus', 'atevense', 'rantuo', 'sanhii', 'sweetlink',
       'ciciglow', 'cat', 'uniwa', 'mgmk3zd/a-cr', 'isoi', 'redmi', 'dam',
       'pb6l0005se', 'torro', 'yigou', 'mlvp3zd/a', 'emporia', 'qimhai',
       'avenir telecom', 'pusokei', 'samsung electronics ltd', 'myphone',
       '6902176123412', 'bigben connected', '7 - 12 años', 'qsnailfrr',
       'goshyda', 'grefay', 'hyrich', 'qubo', 'reware', 'mirusi',
       'lazmin112', 'logicom', 'mi', 'menook', 'trevi', 'iniu', 'ryman',
       'instax', 'artfone', 'wiko', 'beafon', 'castillocarcasas',
       'cuifati', 'mq9w3zd/a', 'joto', 'kwmobile', 'volfen', 'qhot', 'lg',
       'mgda3zd/a-cr', 'nothing phone', 'lenovo', 'ashata', 'meizu',
       'punkt', 'tcl communication ltd.', 'ukuu', 'qtshine', '53036',
       'viqee', 'tingyr', 'cat phones', 'bullitt group ltd.', 'iling',
       'edglete', 'mizhao', 'ljcm', 'generic'], dtype=object)

In [159]:
db['Modelo'].nunique()

1388

In [160]:
db = db.drop(columns=['Modelo'])

In [161]:
num_rows, num_columns = db.shape
print(f"Nombre de files: {num_rows}")
print(f"Nombre de columnes: {num_columns}")
print("Nombre de valors nuls per columna:")
print(db.isnull().sum())

Nombre de files: 1792
Nombre de columnes: 8
Nombre de valors nuls per columna:
Precio             0
Precio Inicial     0
Estrellas          0
Marca             59
Dimensiones        0
RAM                0
Memoria            0
Peso               0
dtype: int64