In [14]:
import pandas as pd

db = pd.read_csv('../Data/mobils.csv')
num_rows, num_columns = db.shape
print(f"Nombre de files: {num_rows}")
print(f"Nombre de columnes: {num_columns}")
print("Nombre de valors nuls per columna:")
print(db.isnull().sum())

Nombre de files: 1874
Nombre de columnes: 24
Nombre de valors nuls per columna:
URL                           3
Asin                         41
Precio                       82
Precio Inicial               82
Título                        1
Estrellas                   105
Opiniones                   106
Marca                        59
Modelo                      126
Año del modelo             1123
Dimensiones                 185
RAM                         231
Memoria                     234
Sistema operativo           916
Resolución pantalla         658
Tamaño pantalla            1693
Relación aspecto           1441
Peso                        143
Tecnología conectividad     538
Batería                    1855
Cámara principal           1800
Cámara frontal             1800
Procesador                 1349
Color                      1116
dtype: int64

In [15]:
db = db.drop(columns=["Batería", "Color", "Procesador", "Cámara frontal", "Cámara principal", "Relación aspecto", "Tamaño pantalla", "Año del modelo"])

In [16]:
columnas_moda = ["RAM", "Memoria", "Marca", "Modelo"]

for columna in columnas_moda:
    moda = db[columna].mode()[0]
    db[columna] = db[columna].fillna(moda)
    print(f"La moda de {columna} és {moda}")

La moda de RAM és 8 GB
La moda de Memoria és 128 GB
La moda de Marca és ‎No
La moda de Modelo és Redmi 14C

In [17]:
columnas_mean = ["Estrellas", "Opiniones"]

for columna in columnas_mean:
    mean = db[columna].mean()
    db[columna] = db[columna].fillna(mean)
    print(f"La mean de {columna} és {mean}")

La mean de Estrellas és 4.108196721311475
La mean de Opiniones és 781.7279411764706

In [18]:
num_rows, num_columns = db.shape
print(f"Nombre de files: {num_rows}")
print(f"Nombre de columnes: {num_columns}")
print("Nombre de valors nuls per columna:")
print(db.isnull().sum())

Nombre de files: 1874
Nombre de columnes: 16
Nombre de valors nuls per columna:
URL                          3
Asin                        41
Precio                      82
Precio Inicial              82
Título                       1
Estrellas                    0
Opiniones                    0
Marca                        0
Modelo                       0
Dimensiones                185
RAM                          0
Memoria                      0
Sistema operativo          916
Resolución pantalla        658
Peso                       143
Tecnología conectividad    538
dtype: int64